//================ sidebar scss ==============//
$primary: #001e61;
$light: rgba(248, 249, 250, 1);

section {
  #sidebar {
    height: calc(100vh - 90px);
    overflow-y: scroll;

    .sidebar-logo {
      height: 90px;
    }

    & li a:hover {
      background-color: $light;

      .main-ul {
        height: calc(100vh - 90px);
        overflow-y: auto;
        border-right: 1px solid #d4d4d4;
      }
    }
  }

  #btn-toggle {
    position: absolute;
    width: 50px;
    top: 8%;
    left: 97%;
  }
}