//================ sidebar scss ==============//
$primary: #001e61;
$light: rgba(248, 249, 250, 1);

#sidebar li a:hover {
    background-color: $light;
}

.active {
    background-color: $primary !important;
    color: white !important;

    &:hover {
        background-color: $primary !important;
        color: white !important;
    }
}