<!-- sidebar -->
<div id="sidebar">
  <div
    class="d-flex align-items-center justify-content-center"
    style="height: 90px"
  >
    <a class="text-decoration-none" [routerLink]="['/']">
      <h5 class="text-primary mb-0">MORTGAGE STREET</h5>
    </a>
  </div>
  <!-- ul -->
  <ul class="list-unstyled">
    <!-- li -->
    <li>
      <a
        class="text-decoration-none text-dark d-flex align-item-center py-2 px-4"
        href="#"
        >Dashboard</a
      >
    </li>
    <!-- /li -->
    <!-- li -->
    <li>
      <a
        class="text-decoration-none text-dark d-flex align-item-center py-2 px-4"
        href="#"
        >About Us</a
      >
    </li>
    <!-- /li -->
    <!-- li -->
    <li>
      <a
        class="text-decoration-none text-dark d-flex align-item-center py-2 px-4"
        href="#"
        >Pages</a
      >
    </li>
    <!-- /li -->
    <!-- li -->
    <li>
      <a
        class="text-decoration-none text-dark d-flex align-item-center py-2 px-4"
        href="#"
        >User</a
      >
    </li>
    <!-- /li -->
    <!-- li -->
    <li>
      <a
        class="text-decoration-none text-dark d-flex align-item-center py-2 px-4"
        href="#"
        >Forms</a
      >
    </li>
    <!-- /li -->
    <!-- li -->
    <li>
      <a
        class="text-decoration-none text-dark d-flex align-item-center py-2 px-4"
        href="#"
        >Project</a
      >
    </li>
    <!-- /li -->
    <!-- li -->
    <li>
      <a
        class="text-decoration-none text-dark d-flex align-item-center py-2 px-4"
        href="#"
        >Dashboard</a
      >
    </li>
    <!-- /li -->
    <!-- li -->
    <li>
      <a
        class="text-decoration-none text-dark d-flex align-item-center py-2 px-4"
        href="#"
        >About Us</a
      >
    </li>
    <!-- /li -->
    <!-- li -->
    <li>
      <a
        class="text-decoration-none text-dark d-flex align-item-center py-2 px-4"
        href="#"
        >Pages</a
      >
    </li>
    <!-- /li -->
    <!-- li -->
    <li>
      <a
        class="text-decoration-none text-dark d-flex align-item-center py-2 px-4"
        href="#"
        >User</a
      >
    </li>
    <!-- /li -->
    <!-- li -->
    <li>
      <a
        class="text-decoration-none text-dark d-flex align-item-center py-2 px-4"
        href="#"
        >Forms</a
      >
    </li>
    <!-- /li -->
    <!-- li -->
    <li>
      <a
        class="text-decoration-none text-dark d-flex align-item-center py-2 px-4"
        href="#"
        >Project</a
      >
    </li>
    <!-- /li -->
  </ul>
  <!-- /ul -->
</div>
<!-- /sidebar -->
