//================ sidebar scss ==============//
$primary: #001e61;
$light: rgba(248, 249, 250, 1);

#sidebar li a:hover {
  background-color: $light;
}

.main-ul {
  height: calc(100vh - 90px);
  overflow-y: auto;
  border-right: 1px solid #D4D4D4;
}

::-webkit-scrollbar {
  width: 0px;
}