<!--header-->
<!-- sidebar offcanvas -->

<!-- /sidebar offcanvas -->

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm py-0">
    <div class="container-fluid" [ngClass]="layoutNav ? 'pe-80 ps-4' : 'px-80'">
      <a class="navbar-brand" [routerLink]="['/']"
        ><img
          alt="logo"
          height="80"
          width="80"
          src="assets/images/nav/nav-logo.png"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        (click)="isMenuCollapsed = !isMenuCollapsed"
      >
        &#9776;
      </button>
      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item me-3 mb-3 mb-sm-0">
            <button
              class="btn btn-primary rounded-pill px-3"
              routerLink="dashboard"
            >
              Log In
            </button>
          </li>
          <li class="nav-item">
            <button class="btn btn-primary rounded-pill px-3">Register</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- sidebar offcanvas button -->
 
  <!-- /sidebar offcanvas button -->
  
</header>

<!--/header-->
