//=================== header scss =================//
// .navbar {
//     margin-left: 250px;
// }
header {
  z-index: 99999;

  form {
    .from-input {
      background-color: #f2f3f4 !important;
    }

    & :focus {
      border-color: rgb(185 181 181);
    }
  }

  .dropdown {
    :active {
      border-color: transparent !important;
    }

    .dropdown-menu {
      right: 0;
      left: auto;
    }

    .dropdown-toggle {
      &::after {
        display: none;
      }

      &:active {
        border-color: transparent !important;
      }
    }

    svg {
      fill: #95989b !important;

      &:hover {
        fill: #6d7174 !important;
      }
    }

    .btn-icon {
      height: 45px;
      width: 45px;
    }
  }


}

@media screen and (max-width:767px) {
  header {
    .dropdown {
      .dropdown-menu {
        right: 0;
        position: relative;
        margin-top: 2%;
        margin-bottom: 2%;
      }
    }
  }
}

@media screen and (min-width: 767px) {
  header {
    .dropdown {
      .bg-light {
        background-color: transparent !important;
      }

      .btn-icon {
        &:hover {
          background-color: #e6e8ea !important;
        }
      }
    }
  }
}