//================ header scss ==============//
$secondary: #9ea1a2;
$white: white;

#bannerSection {
  background-image: url(/assets/images/banner-img.jpg);

  & .container-fluid {
    z-index: 0;
  }
}

//===== fast cash section
#simpleSection,
#fastCashSection,
#personalLoanSection {
  img {
    object-fit: cover;
  }
   .simple-bg-img {
  background-image: url("/assets/images/business-woman.jpg");
  background-repeat: no-repeat;
}
}

 

//===== contact section
#contactSection {
  .call-section {
    @media screen and (max-width: 767px) {
      border-right: 0px !important;
      border-bottom: 1px solid $secondary;
    }
  }
}