<!-- banner section -->
<section id="bannerSection" class="headerSection d-flex align-items-center">
  <div class="container-fluid">
    <!-- row -->
    <div class="row">
      <div class="col col-lg-8 col-xl-5 ms-auto">
        <div class="text-dark text-center text-lg-start banner-content pe-80">
          <h1 class="font-family-base text-primary">
            The <span class="text-rust">fastest way</span> to your new home
          </h1>
          <p class="fs-5 mb-0 text-justify">
            We give you back control & reward you for being good borrowers" We
            strive to offer some of the best home loans and some of the best
            mortgage interest rates that will help reduce your home loan
            repayments and save you lots of interest that you can use for all
            the important things in life, delivered to you exclusively through
            professional mortgage brokers.
          </p>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
</section>
<!-- /banner section -->
<!-- online loan application section -->
<section class="pt-5">
  <div class="container-fluid pt-3">
    <div class="row justify-content-center text-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div>
          <h2 class="text-primary mb-3">
            We have a
            <span class="text-rust">simple online loan</span>
            application. A quick and transparent process
          </h2>
          <p class="fw-medium small">
            We give you back control & reward you for being good borrowers" We
            strive to offer some of the best home loans and some of the best
            mortgage interest rates that will help reduce your home loan
            repayments and save you lots of interest that you can use for all
            the important things in life, delivered to you exclusively through
            professional mortgage brokers.
          </p>
          <p class="fw-bold small text-rust">
            Will select the best offer exactly for you!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /online loan application section -->
<!-- it is simple section -->
<section id="simpleSection" class="pt-5">
  <div class="container-fluid pt-3">
    <div class="row">
      <div class="col-12 col-md-6 p-0 align-self-center">
        <img
          class="img-fluid"
          src="/assets/images/business-woman.jpg"
          alt="business-woman"
        />
      </div>
      <div class="col-12 col-md-6 align-self-center py-5 py-lg-3">
        <div class="px-80">
          <h2 class="text-primary">
            <span class="text-rust">It is simple</span> and anybody can do it
          </h2>
          <p class="fw-medium small text-justify">
            Are you approaching the milestone of purchasing your dream home?
            Congratulations on deciding on one of the biggest investments of
            your life. To make it a possibility, you will require substantial
            financial support and planning. Instead of liquidating fixed
            deposits or selling off your market holdings, a better idea would be
            to take a home loan. If you are on the verge of applying for one,
            there are a few key elements to consider. These include the entire
            loan process, tenure availability, processing time, hidden charges,
            and more. Here is a checklist of the elements you must examine
            carefully before applying for home loan.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /it is simple section -->
<!-- fast cash section -->
<section id="fastCashSection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 p-0 order-md-2 align-self-center">
        <img
          class="img-fluid"
          src="/assets/images/happy-financial-advisor.jpg"
          alt="business-woman"
        />
      </div>
      <div class="col-12 col-md-6 align-self-center py-5 py-lg-3">
        <div class="px-80">
          <h2 class="text-primary">
            <span class="text-rust">Fast cash</span> whenever you need
          </h2>
          <p class="fw-medium small text-justify">
            Local community organizations may offer loans or short-term
            assistance to help with rent, utilities or other emergency needs.
            NerdWallet has compiled a database of payday loan alternatives
            available to residents in each state. Local churches may make small
            loans at low rates. Community centers and nonprofit associations in
            your area may also offer small loans. Some creditors such as
            utilities and cable television companies don’t charge interest on
            late payments, so find out whether they’ll accept delayed payments.
            Use whatever money you save from not paying those bills to cover
            emergency needs. If you can't pay consumer debts such as auto loans
            or mortgages, explore your options with the lender first before
            turning to toxic high-rate loans.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /fast cash section -->
<!-- personal loan section -->
<section id="personalLoanSection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 p-0 align-self-center">
        <img
          class="img-fluid"
          src="/assets/images/young-happy.jpg"
          alt="business-woman"
        />
      </div>
      <div class="col-12 col-md-6 align-self-center pt-5 pb-md-5 py-lg-3">
        <div class="px-80">
          <h2 class="text-primary">
            <span class="text-rust">Home loan</span> to suit to your needs
          </h2>
          <p class="fw-medium small mb-0 text-justify">
            The information contained herein is generic in nature and is meant
            for educational purposes only. Nothing here is to be construed as an
            investment or financial or taxation advice nor to be considered as
            an invitation or solicitation or advertisement for any financial
            product. Readers are advised to exercise discretion and should seek
            independent professional advice prior to making any investment
            decision in relation to any financial product. Aditya Birla Capital
            Group is not liable for any decision arising out of the use of this
            information.The bank or financial institution charges interest in
            exchange for its money lending services. The rate of interest is
            dependent on the amount of the principal and the duration for which
            you will be repaying the loan.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /personal loan section -->
<!-- contact section -->
<section id="contactSection" class="py-5">
  <div class="container-fluid pt-3">
    <div class="row">
      <div class="col-12 col-md-6 text-center">
        <div
          class="call-section d-flex justify-content-md-center align-items-center pb-md-0 pb-3 border-end border-secondary"
        >
          <img
            class="me-4"
            src="assets/images/call-icon.svg"
            height="70"
            alt="call-icon"
          />
          <h3 class="text-primary">Click to Call</h3>
        </div>
      </div>
      <div class="col-12 col-md-6 text-center mt-md-0 mt-3">
        <div class="d-flex justify-content-md-center align-items-center">
          <img
            class="me-4"
            src="assets/images/faq-icon.svg"
            height="70"
            alt="message-icon"
          />
          <h3 class="text-primary">Send a Message</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact section -->
