//================ user layout scss ==============//
#userLayout {
  #asidenav {
    width: 250px !important;
    transition: 0.35s all;
  }

  main {
    margin-left: 250px;
    transition: 0.35s all;

    .header-section {
      width: calc(100% - 250px);
      z-index: 2;
      transition: 0.35s all;
    }
  }

  .footer {
    z-index: 1;
  }
}

@media screen and (max-width: 992px) {
  #asidenav {
    transform: translateX(-250px);
  }

  main {
    margin-left: 0px !important;
  }

  .header-section {
    width: 100% !important;
    z-index: 2;
    transition: 0.35s all;
  }
}
